Repository conorcraig/magent2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

ruff-format-local:
  name: ruff-format (uv)
  language: system
  entry: uv run ruff format
  pass_filenames: true

ruff-check-local:
  name: ruff-check (uv, with fixes)
  language: system
  entry: uv run ruff check --fix --exit-non-zero-on-fix --show-fixes
  pass_filenames: true

mypy:
  name: mypy (staged files only)
  language: system
  entry: uv run python .github/scripts/mypy_staged.py
  pass_filenames: true

xenon-complexity:
  name: Check Code Complexity (staged)
  entry: bash .github/scripts/ci/complexity_check.sh
  language: system
  pass_filenames: true

xenon-complexity-tests:
  name: Check Test Complexity (staged, relaxed)
  language: system
  entry: bash .github/scripts/ci/complexity_check.sh --profile tests
  pass_filenames: true

feat: Install 'just' task runner to ~/.local/bin
  scripts/setup_env.sh
Due: none

Refactor: Improve type hints and simplify conditional logic
  magent2/bus/utils.py
  magent2/runner/openai_agents_runner.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

docs: add orchestration guide (flags, examples); link from README (Closes #146)
  README.md
  docs/ORCHESTRATION.md
Due: none

Refactor streaming logic for clarity and maintainability
  magent2/runner/openai_agents_runner.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Enhance logging and configuration for gateway and worker services
  docker-compose.yml
  justfile
  magent2/gateway/app.py
  magent2/observability/__init__.py
  magent2/tools/chat/function_tools.py
  magent2/tools/signals/wrappers.py
  magent2/tools/terminal/function_tools.py
  magent2/tools/todo/tools.py
  magent2/worker/__main__.py
  magent2/worker/worker.py
  tests/test_observability.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

security(mcp): switch to strict env allowlist for stdio servers; do not inherit parent env by default; add safe defaults. Fixes #119 (#142)
  magent2/tools/mcp/gateway.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

config: increase stop_grace_period and relax healthcheck timeouts for gateway/worker (#115) (#138)
  docker-compose.yml
Due: none

todo-store: warn on invalid/corrupt Redis task JSON in get_task (fixes #120) (#143)
  magent2/tools/todo/redis_store.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

feat: Expose Redis client via get_client method (#137)
  magent2/bus/redis_adapter.py
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

tests(terminal): add JWT/Bearer and entropy redaction tests; pragma allowlist for placeholders (#139)
  magent2/tools/terminal/function_tools.py
  magent2/tools/terminal/tool.py
  tests/test_terminal_function_tools.py
  tests/test_terminal_safety.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

Checkpoint before follow-up message
  docs/refs/sse.md
  magent2/gateway/app.py
  tests/test_gateway.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

docs: add orchestration guide (flags, examples); link from README (Closes #146) (#148)
  README.md
  docs/ORCHESTRATION.md
Due: none

refactor: major complexity reduction and observability improvements
  README.md
  docker-compose.yml
  justfile
  magent2/gateway/app.py
  magent2/models/envelope.py
  magent2/observability/__init__.py
  magent2/runner/openai_agents_runner.py
  magent2/tools/terminal/function_tools.py
  magent2/tools/todo/tools.py
  magent2/tools/tool_events.py
  magent2/worker/__main__.py
  pyproject.toml
  scripts/client.py
  scripts/compose_down_probe.sh
  tests/conftest.py
  tests/e2e/conftest.py
  tests/test_client_one_shot.py
  tests/test_client_stream_resume.py
  tests/test_gateway.py
  tests/test_runner_sdk.py
  uv.lock
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

fix: Correct environment variable name in SSE payload cap test
  tests/test_gateway.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity-tests

Read agent docs for issue 121 (#149)
  magent2/gateway/app.py
  magent2/tools/terminal/function_tools.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

fix: add missing return type annotation for _start_result_stream
  magent2/runner/openai_agents_runner.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

chore(bus): use collections.abc.Sequence per typing modernisation
  magent2/bus/utils.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Find code bloat and duplication (#144)
  magent2/bus/utils.py
  magent2/gateway/app.py
  magent2/observability/__init__.py
  magent2/tools/chat/function_tools.py
  magent2/tools/signals/impl.py
  scripts/setup_env.sh
  tests/e2e/conftest.py
  tests/helpers/__init__.py
  tests/helpers/bus.py
  tests/test_bus_interface.py
  tests/test_chat_function_tool.py
  tests/test_gateway.py
  tests/test_observability_wiring.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

feat(terminal): sensible defaults, profiles, JSON test reporting; add cache and test hooks; doc updates
  README.md
  docs/ORCHESTRATION.md
  magent2/tools/registry.py
  magent2/tools/terminal/function_tools.py
  magent2/worker/__main__.py
  pyproject.toml
  tests/conftest.py
  tests/test_terminal_function_tools.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

x
  docker-compose.yml
Due: none

tui: new chat on first send; conversations panel toggle; SSE resume via Last-Event-ID; scrolling/styling; launcher integration (refs #129)
  chat_tui/Cargo.toml
  chat_tui/src/main.rs
  magent2/cli.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

tui: conversations panel selection + 'r' refresh; Enter to switch and restart SSE (refs #129)
  chat_tui/src/main.rs
Due: none

tui: Markdown-aware rendering via pulldown-cmark; selection/refresh; SSE resume fixes; add Rust checks to just check; docker BUS_STREAM_MAXLEN test and compose passthrough
  chat_tui/Cargo.toml
  chat_tui/src/main.rs
  docker-compose.yml
  justfile
  tests/e2e/test_docker_e2e.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity-tests

docs: README TUI section updated with conversations panel and Markdown rendering
  README.md
Due: none

refactor: remove OpenAIResponsesRunner class
  magent2/runner/openai_responses_runner.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

docs: update AGENTS.md with Rust/TUI standards, cargo checks, minimal labels, milestones, and command hygiene
  AGENTS.md
Due: none

docs: update AGENTS.md structure and content; add Markdownlint configuration for ordered lists
  .markdownlint-cli2.yaml
  AGENTS.md
  justfile
Due: none

docs: enhance AGENTS.md with GitHub API usage guidelines and milestone management details
  AGENTS.md
Due: none

docs: add frontend tui guide for milestone
  README.md
  docs/FRONTEND_TUI.md
Due: none

chore: remove todo.md file as tasks have been moved to handover documentation
  todo.md
Due: none

docs: update AGENTS.md to clarify handling of multiple open milestones
  AGENTS.md
Due: none

refactor: clean up imports and improve code formatting in main.rs
  chat_tui/src/main.rs
Due: none

feat: add plans and research for TUI agents and graph panes
  tasks/tui-agents-graph/plan.md
  tasks/tui-agents-graph/research.md
  tasks/tui-typing-indicator/plan.md
  tasks/tui-typing-indicator/research.md
Due: none

Fix: Update README documentation for AGENT_TOOLS configuration
  README.md
  magent2/runner/config.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

cli/docs: remove duplicate scripts/client.py and update docs to use 'magent2 client' (refs #167)
  README.md
  scripts/client.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

hardening: CLI subprocess safety and error handling improvements
  magent2/cli.py
  magent2/gateway/app.py
  magent2/runner/config.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

feat: TUI agents panes, graph pane, and busy spinner (#130 #166 #159)
  README.md
  chat_tui/src/main.rs
  docs/FRONTEND_TUI.md
  justfile
  magent2/cli.py
  pyproject.toml
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

docs: update TUI tasks and add streaming client plan
  tasks/cli-streaming-library/plan.md
  tasks/cli-streaming-library/research.md
  tasks/tui-agents-graph/plan.md
  tasks/tui-agents-graph/research.md
  tasks/tui-typing-indicator/plan.md
  tasks/tui-typing-indicator/research.md
Due: none

feat(tui): follow-mode auto-scroll (#161)
  AGENTS.md
  README.md
  chat_tui/src/main.rs
  docs/FRONTEND_TUI.md
  justfile
  tasks/tui-agents-graph/plan.md
  tasks/tui-auto-scroll-follow/plan.md
  tasks/tui-auto-scroll-follow/research.md
Due: none

chore: remove run_local.py script to streamline project structure
  scripts/run_local.py
  tests/conftest.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

Path conditions:
  ruff-format-local: any of: \.py$
  ruff-check-local: any of: \.py$
  mypy: any of: \.py$
  xenon-complexity: any of: ^(magent2|scripts)/ and \.py$
  xenon-complexity-tests: any of: ^tests/ and \.py$
