Repository conorcraig/magent2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: debug-statements
        types: [python]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Use local hooks to run ruff via uv, ensuring single source of truth from pyproject.toml
  - repo: local
    hooks:
      - id: ruff-format-local
        name: ruff-format (uv)
        language: system
        entry: uv run ruff format
        pass_filenames: true
        types: [python]
      - id: ruff-check-local
        name: ruff-check (uv, with fixes)
        language: system
        entry: uv run ruff check --fix --exit-non-zero-on-fix --show-fixes
        pass_filenames: true
        types: [python]

  - repo: local
    hooks:
      - id: mypy
        name: mypy (staged files only)
        language: system
        entry: uv run python .github/scripts/mypy_staged.py
        pass_filenames: true
        types: [python]

      - id: xenon-complexity
        name: Check Code Complexity (staged)
        entry: bash .github/scripts/ci/complexity_check.sh
        language: system
        pass_filenames: true
        types: [python]
        files: "^(magent2|scripts)/"

      - id: xenon-complexity-tests
        name: Check Test Complexity (staged, relaxed)
        language: system
        entry: bash .github/scripts/ci/complexity_check.sh --profile tests
        pass_filenames: true
        types: [python]
        files: "^tests/"

      # Intentionally no pre-push hook; use just check manually or in CI

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".baseline-secrets"]

fail_fast: false
minimum_pre_commit_version: "3.0.0"
default_stages: [pre-commit]
default_install_hook_types:
  - pre-commit
  - commit-msg

Verify github token by accessing issues (#76)
  AGENTS.md
  scripts/setup_env.sh
Due: none

docs(handover): link tracking issues in handover docs; add claiming guidance to AGENTS.md
  AGENTS.md
  docs/HANDOVERS/feat-client-v1-polish.md
  docs/HANDOVERS/feat-core-types-tightening.md
  docs/HANDOVERS/feat-docs-alignment.md
  docs/HANDOVERS/feat-gateway-sse-offload.md
  docs/HANDOVERS/feat-observability-wiring-v2.md
  docs/HANDOVERS/feat-ruff-config-tightening.md
  docs/HANDOVERS/feat-signals-v2-policy-and-sse.md
  docs/HANDOVERS/feat-team-registry-and-scope-enforcement.md
  docs/HANDOVERS/feat-terminal-redaction-env.md
  docs/HANDOVERS/feat-worker-idle-backoff.md
  docs/HANDOVERS/feat-worktree-allocator.md
Due: none

docs(handover): link tracking issues in handover docs; add claiming guidance to AGENTS.md (#88)
  AGENTS.md
  docs/HANDOVERS/feat-client-v1-polish.md
  docs/HANDOVERS/feat-core-types-tightening.md
  docs/HANDOVERS/feat-docs-alignment.md
  docs/HANDOVERS/feat-gateway-sse-offload.md
  docs/HANDOVERS/feat-observability-wiring-v2.md
  docs/HANDOVERS/feat-ruff-config-tightening.md
  docs/HANDOVERS/feat-signals-v2-policy-and-sse.md
  docs/HANDOVERS/feat-team-registry-and-scope-enforcement.md
  docs/HANDOVERS/feat-terminal-redaction-env.md
  docs/HANDOVERS/feat-worker-idle-backoff.md
  docs/HANDOVERS/feat-worktree-allocator.md
Due: none

feat(gateway): offload SSE bus reads with asyncio.to_thread; preserve max_events semantics (#80)
  magent2/gateway/app.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Update AGENTS.md
  AGENTS.md
Due: none

feat(gateway): offload SSE bus reads with asyncio.to_thread; preserve max_events semantics (#80) (#89)
  magent2/gateway/app.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Refactor: Add worker idle backoff and RedisBus blocking
  AGENTS.md
  docs/HANDOVERS/README.md
  docs/HANDOVERS/feat-client-v1-polish.md
  docs/HANDOVERS/feat-core-types-tightening.md
  docs/HANDOVERS/feat-docs-alignment.md
  docs/HANDOVERS/feat-gateway-sse-offload.md
  docs/HANDOVERS/feat-observability-wiring-v2.md
  docs/HANDOVERS/feat-ruff-config-tightening.md
  docs/HANDOVERS/feat-signals-v2-policy-and-sse.md
  docs/HANDOVERS/feat-team-registry-and-scope-enforcement.md
  docs/HANDOVERS/feat-terminal-redaction-env.md
  docs/HANDOVERS/feat-worker-idle-backoff.md
  docs/HANDOVERS/feat-worktree-allocator.md
  magent2/bus/redis_adapter.py
  magent2/worker/__main__.py
  scripts/setup_env.sh
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

chore(bus): type BusMessage.payload as dict[str, Any] (#92)
  magent2/bus/interface.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Refactor: Update docs and setup script for clarity
  AGENTS.md
  docs/HANDOVERS/README.md
  docs/HANDOVERS/feat-client-v1-polish.md
  docs/HANDOVERS/feat-core-types-tightening.md
  docs/HANDOVERS/feat-docs-alignment.md
  docs/HANDOVERS/feat-gateway-sse-offload.md
  docs/HANDOVERS/feat-observability-wiring-v2.md
  docs/HANDOVERS/feat-ruff-config-tightening.md
  docs/HANDOVERS/feat-signals-v2-policy-and-sse.md
  docs/HANDOVERS/feat-team-registry-and-scope-enforcement.md
  docs/HANDOVERS/feat-terminal-redaction-env.md
  docs/HANDOVERS/feat-worker-idle-backoff.md
  docs/HANDOVERS/feat-worktree-allocator.md
  scripts/setup_env.sh
Due: none

feat(signals): add wait_any/all, prefix policy, payload cap + redaction, SSE visibility, and per-conversation cursors; tests added
  magent2/tools/signals/impl.py
  magent2/tools/signals/wrappers.py
  tests/test_signals.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

Refactor: Update docs and setup script for clarity (#95)
  AGENTS.md
  docs/HANDOVERS/README.md
  docs/HANDOVERS/feat-client-v1-polish.md
  docs/HANDOVERS/feat-core-types-tightening.md
  docs/HANDOVERS/feat-docs-alignment.md
  docs/HANDOVERS/feat-gateway-sse-offload.md
  docs/HANDOVERS/feat-observability-wiring-v2.md
  docs/HANDOVERS/feat-ruff-config-tightening.md
  docs/HANDOVERS/feat-signals-v2-policy-and-sse.md
  docs/HANDOVERS/feat-team-registry-and-scope-enforcement.md
  docs/HANDOVERS/feat-terminal-redaction-env.md
  docs/HANDOVERS/feat-worker-idle-backoff.md
  docs/HANDOVERS/feat-worktree-allocator.md
  scripts/setup_env.sh
Due: none

feat(observability): log tool_call/tool_error with correlation; gateway send/stream logs; worker exception logging; MCP close debug; add chat tool observability test (refs #93)
  magent2/gateway/app.py
  magent2/tools/chat/function_tools.py
  magent2/tools/mcp/gateway.py
  magent2/tools/signals/wrappers.py
  magent2/tools/todo/tools.py
  magent2/worker/worker.py
  tests/test_observability_wiring.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

chore(bus): type BusMessage.payload as dict[str, Any] (#92) (#96)
  magent2/bus/interface.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

client: v1 polish — add --log-level/--quiet/--json/--max-events, reliability/backoff, exit codes; docs+tests (closes #91)
  README.md
  scripts/client.py
  tests/test_client_modes.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

feat(observability): log tool_call/tool_error with correlation; gateway send/stream logs; worker exception logging; MCP close debug; add chat tool observability test (refs #93) (#99)
  magent2/gateway/app.py
  magent2/tools/chat/function_tools.py
  magent2/tools/mcp/gateway.py
  magent2/tools/signals/wrappers.py
  magent2/tools/todo/tools.py
  magent2/worker/worker.py
  tests/test_observability_wiring.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

Refactor: Add worker idle backoff and RedisBus blocking (#90)
  magent2/bus/redis_adapter.py
  magent2/worker/__main__.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

fix: resolve mypy type error in test_client_modes.py
  tests/test_client_modes.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity-tests

refactor(signals): reduce complexity in wait_for_any/all via helpers
  magent2/tools/signals/impl.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Process agent and feature files (#97)
  magent2/tools/signals/impl.py
  magent2/tools/signals/wrappers.py
  tests/test_signals.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

refactor(client): extract helpers; reduce _run complexity; fix typing import
  scripts/client.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Update AGENTS.md and handover documents to include tracking issue links with angle brackets for consistency; minor formatting adjustments in various handover files.
  AGENTS.md
  docs/HANDOVERS/README.md
  docs/HANDOVERS/feat-client-v1-polish.md
  docs/HANDOVERS/feat-core-types-tightening.md
  docs/HANDOVERS/feat-docs-alignment.md
  docs/HANDOVERS/feat-gateway-sse-offload.md
  docs/HANDOVERS/feat-observability-wiring-v2.md
  docs/HANDOVERS/feat-ruff-config-tightening.md
  docs/HANDOVERS/feat-signals-v2-policy-and-sse.md
  docs/HANDOVERS/feat-team-registry-and-scope-enforcement.md
  docs/HANDOVERS/feat-terminal-redaction-env.md
  docs/HANDOVERS/feat-worker-idle-backoff.md
  docs/HANDOVERS/feat-worktree-allocator.md
  scripts/setup_env.sh
Due: none

Process agent and feature files (#98)
  README.md
  scripts/client.py
  tests/test_client_modes.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

docs: Add GitHub CLI workflow section to AGENTS.md
  AGENTS.md
Due: none

docs(handover): remove handover docs with closed tracking issues (#100)
  docs/HANDOVERS/feat-client-v1-polish.md
  docs/HANDOVERS/feat-core-types-tightening.md
  docs/HANDOVERS/feat-docs-alignment.md
  docs/HANDOVERS/feat-gateway-sse-offload.md
  docs/HANDOVERS/feat-observability-wiring-v2.md
  docs/HANDOVERS/feat-ruff-config-tightening.md
  docs/HANDOVERS/feat-signals-v2-policy-and-sse.md
  docs/HANDOVERS/feat-team-registry-and-scope-enforcement.md
  docs/HANDOVERS/feat-terminal-redaction-env.md
  docs/HANDOVERS/feat-worker-idle-backoff.md
  docs/HANDOVERS/feat-worktree-allocator.md
Due: none

docs(handover): remove handover docs with closed tracking issues (#100) (#101)
  docs/HANDOVERS/feat-client-v1-polish.md
  docs/HANDOVERS/feat-core-types-tightening.md
  docs/HANDOVERS/feat-docs-alignment.md
  docs/HANDOVERS/feat-gateway-sse-offload.md
  docs/HANDOVERS/feat-observability-wiring-v2.md
  docs/HANDOVERS/feat-ruff-config-tightening.md
  docs/HANDOVERS/feat-signals-v2-policy-and-sse.md
  docs/HANDOVERS/feat-team-registry-and-scope-enforcement.md
  docs/HANDOVERS/feat-terminal-redaction-env.md
  docs/HANDOVERS/feat-worker-idle-backoff.md
  docs/HANDOVERS/feat-worktree-allocator.md
Due: none

Add rebuild
  justfile
Due: none

chore(setup): make setup_env.sh idempotent (uv lock --check, gh skips); docs: expand local Agents SDK refs, add FAQ, augment example docs
  docs/refs/openai-agents-sdk-faq.md
  docs/refs/openai-agents-sdk.md
  scripts/example_agent_docs.md
  scripts/setup_env.sh
Due: none

runner: restore conversation memory by default via SQLite session fallback; env-selectable backends
  README.md
  agents.db
  justfile
  magent2/observability/__init__.py
  magent2/runner/openai_agents_runner.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

sessions: simplify to single SQLiteSession path via AGENT_SESSION_PATH; ignore *.db and .sessions; untrack agents.db; doc README
  .gitignore
  README.md
  agents.db
  magent2/runner/openai_agents_runner.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Refactor: Improve README link and code formatting
  README.md
  magent2/observability/__init__.py
  magent2/runner/openai_agents_runner.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Simplify and secure session management (#105)
  .gitignore
  README.md
  agents.db
  magent2/observability/__init__.py
  magent2/runner/openai_agents_runner.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Checkpoint before follow-up message
  .cache/issue_68.json
  .cache/issue_68_comments.json
Due: none

feat: Add local development mode without Docker
  README.md
  justfile
  pyproject.toml
  scripts/run_local.py
  uv.lock
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Test: Add test for worker consumer group semantics
  tests/test_worker_redis_groups.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity-tests

Add .cache/ to gitignore
  .gitignore
Due: none

feat: Add local redis, gateway, worker just commands
  justfile
  tests/conftest.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity-tests

feat: Add local dev stack and improve worker/client
  justfile
  magent2/worker/__main__.py
  scripts/client.py
  scripts/run_local.py
  tests/conftest.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

Local service setup without docker (#106)
  README.md
  justfile
  magent2/worker/__main__.py
  pyproject.toml
  scripts/client.py
  scripts/run_local.py
  tests/conftest.py
  uv.lock
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

chore: remove .cache from tracking; ignore .cache in .gitignore
  .cache/issue_68.json
  .cache/issue_68_comments.json
Due: none

style(test): ruff format test_worker_redis_groups.py
  tests/test_worker_redis_groups.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity-tests
