Repository conorcraig/magent2: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, xenon-complexity, xenon-complexity-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: debug-statements
        types: [python]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.7
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix", "--show-fixes"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy (staged files only)
        language: system
        entry: uv run python .github/scripts/mypy_staged.py
        pass_filenames: true
        types: [python]

      - id: xenon-complexity
        name: Check Code Complexity (staged)
        entry: bash .github/scripts/ci/complexity_check.sh
        language: system
        pass_filenames: true
        types: [python]
        files: "^(magent2|scripts)/"

      - id: xenon-complexity-tests
        name: Check Test Complexity (staged, relaxed)
        language: system
        entry: bash -c 'THRESHOLD_AVG=B THRESHOLD_MODS=B THRESHOLD_ABS=C .github/scripts/ci/complexity_check.sh "$@"' --
        pass_filenames: true
        types: [python]
        files: "^tests/"

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".baseline-secrets"]

fail_fast: false
minimum_pre_commit_version: "3.0.0"
default_stages: [pre-commit]
default_install_hook_types:
  - pre-commit
  - commit-msg

Create example_agent_docs.md
  scripts/example_agent_docs.md
Due: none

Checkpoint before follow-up message
  justfile
Due: none

Refactor Ruff checks to apply fixes directly
  justfile
  tests/conftest.py
Due: mypy, xenon-complexity-tests

Update ruff, add test complexity check
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
Due: none

Refactor: Use uv for ruff hooks and CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  justfile
  uv.lock
Due: none

Refactor check task to use uv for pre-commit
  justfile
Due: none

fix(types): mypy compatibility for example_agent (tool item attrs, span args, hints); conform to ruff
  scripts/example_agent.py
Due: mypy, xenon-complexity

Check and fix latest commit pre-commit (#61)
  .baseline-xenon-tests
  .github/scripts/ci/complexity_check.sh
  .github/scripts/ci/update_complexity_baseline.sh
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  justfile
  pyproject.toml
  scripts/example_agent.py
  tests/conftest.py
  uv.lock
Due: mypy, xenon-complexity, xenon-complexity-tests

Refactor streaming event handling into helper functions
  scripts/example_agent.py
Due: mypy, xenon-complexity

Fix: Update example agent docs with correct formatting
  scripts/example_agent_docs.md
Due: none

test(ci): use basic docker health check (docker ps) for skip logic\n\n- Replace docker info/compose probing with standard docker ps\n- Keep FORCE_DOCKER_TESTS override for CI control
  tests/conftest.py
Due: mypy, xenon-complexity-tests

Fix complexity violations by refactoring code (#62)
  docker-compose.yml
  scripts/example_agent.py
  scripts/example_agent_docs.md
  tests/conftest.py
Due: mypy, xenon-complexity, xenon-complexity-tests

feat: Add request validation and ready endpoint
  magent2/gateway/app.py
  tests/test_gateway.py
Due: mypy, xenon-complexity, xenon-complexity-tests

feat: Add command deny list, sandbox, and secret redaction
  magent2/tools/terminal/tool.py
  tests/test_terminal_safety.py
Due: mypy, xenon-complexity, xenon-complexity-tests

Add non-interactive client mode and log filtering
  README.md
  scripts/client.py
  tests/test_client_log_events.py
Due: mypy, xenon-complexity, xenon-complexity-tests

feat: Add observability features and context management
  magent2/observability/__init__.py
  magent2/tools/terminal/function_tools.py
  magent2/worker/worker.py
  tests/test_observability_wiring.py
Due: mypy, xenon-complexity, xenon-complexity-tests

Refactor: Move SendRequest model definition
  magent2/gateway/app.py
  scripts/example_agent_docs.md
Due: mypy, xenon-complexity

Refactor: Improve documentation and fix test imports
  scripts/example_agent_docs.md
  tests/test_client_log_events.py
Due: mypy, xenon-complexity-tests

Refactor TerminalTool and update docs and tests
  magent2/tools/terminal/tool.py
  scripts/example_agent_docs.md
  tests/test_terminal_safety.py
Due: mypy, xenon-complexity, xenon-complexity-tests

feat: Add default UUID generation for request ID
  magent2/gateway/app.py
Due: mypy, xenon-complexity

Refactor TerminalTool to improve command execution and sandbox logic
  magent2/tools/terminal/tool.py
  tests/test_terminal_safety.py
Due: mypy, xenon-complexity, xenon-complexity-tests

Read and execute handover doc 59 (#65)
  README.md
  scripts/client.py
  scripts/example_agent_docs.md
  tests/test_client_log_events.py
Due: mypy, xenon-complexity, xenon-complexity-tests

Read and execute handover doc 39 (#63)
  magent2/gateway/app.py
  tests/test_gateway.py
Due: mypy, xenon-complexity, xenon-complexity-tests

Read and execute handover doc 41 (#64)
  magent2/tools/terminal/tool.py
  tests/test_terminal_safety.py
Due: mypy, xenon-complexity, xenon-complexity-tests

obs: wire run_id/conv_id, tool counters; JSON logs; tests; reduce formatter complexity; ensure logger capture in tests; green on just check
  magent2/observability/__init__.py
  magent2/tools/terminal/function_tools.py
  magent2/worker/worker.py
  scripts/example_agent_docs.md
  tests/test_observability_wiring.py
Due: mypy, xenon-complexity, xenon-complexity-tests

chore(ruff): exclude .pydeps from linting in CI (#56)
  pyproject.toml
Due: none

Read and execute handover doc 56 (#67)
  .gitignore
  pyproject.toml
  tests/test_client_one_shot.py
Due: mypy, xenon-complexity-tests

Read and execute handover doc 40 (#66)
  magent2/observability/__init__.py
  magent2/tools/terminal/function_tools.py
  magent2/worker/worker.py
  tests/test_observability_wiring.py
Due: mypy, xenon-complexity, xenon-complexity-tests

force commit
  AGENTS.md
  docker-compose.yml
  docs/PRD.md
  magent2/observability/__init__.py
  magent2/tools/signals/__init__.py
  magent2/tools/signals/impl.py
  magent2/tools/signals/wrappers.py
  magent2/tools/terminal/function_tools.py
  magent2/worker/__main__.py
  tests/test_signals.py
  todo.md
Due: mypy, xenon-complexity, xenon-complexity-tests

force commit
  AGENTS.md
Due: none

Refactor: Simplify _MemoryBus.read method signature
  tests/test_signals.py
Due: mypy, xenon-complexity-tests

Refactor: Update docs, mypy config, and scripts package
  docs/PRD.md
  pyproject.toml
  scripts/__init__.py
Due: mypy, xenon-complexity

Check and fix project status (#72)
  docs/PRD.md
  pyproject.toml
  scripts/__init__.py
  tests/test_signals.py
Due: mypy, xenon-complexity, xenon-complexity-tests

Refactor: Consolidate handovers into README index
  docs/HANDOVERS/README.md
  docs/HANDOVERS/feat-chat-tool-bus-#37.md
  docs/HANDOVERS/feat-client-log-events-#59.md
  docs/HANDOVERS/feat-client-one-shot-mode-#56.md
  docs/HANDOVERS/feat-client-v1-polish.md
  docs/HANDOVERS/feat-core-types-tightening.md
  docs/HANDOVERS/feat-docs-alignment.md
  docs/HANDOVERS/feat-gateway-polish-#39.md
  docs/HANDOVERS/feat-gateway-sse-offload.md
  docs/HANDOVERS/feat-mcp-stdio-servers-#36.md
  docs/HANDOVERS/feat-observability-wiring-#40.md
  docs/HANDOVERS/feat-observability-wiring-v2.md
  docs/HANDOVERS/feat-openai-agents-runner-#33.md
  docs/HANDOVERS/feat-ruff-config-tightening.md
  docs/HANDOVERS/feat-signals-v2-policy-and-sse.md
  docs/HANDOVERS/feat-team-registry-and-scope-enforcement.md
  docs/HANDOVERS/feat-terminal-function-tools-#34.md
  docs/HANDOVERS/feat-terminal-redaction-env.md
  docs/HANDOVERS/feat-terminal-safety-hardening-#41.md
  docs/HANDOVERS/feat-todo-function-tools-#35.md
  docs/HANDOVERS/feat-worker-idle-backoff.md
  docs/HANDOVERS/feat-worktree-allocator.md
  todo.md
Due: none

Refactor: Consolidate handovers into README index (#75)
  docs/HANDOVERS/README.md
  docs/HANDOVERS/feat-chat-tool-bus-#37.md
  docs/HANDOVERS/feat-client-log-events-#59.md
  docs/HANDOVERS/feat-client-one-shot-mode-#56.md
  docs/HANDOVERS/feat-client-v1-polish.md
  docs/HANDOVERS/feat-core-types-tightening.md
  docs/HANDOVERS/feat-docs-alignment.md
  docs/HANDOVERS/feat-gateway-polish-#39.md
  docs/HANDOVERS/feat-gateway-sse-offload.md
  docs/HANDOVERS/feat-mcp-stdio-servers-#36.md
  docs/HANDOVERS/feat-observability-wiring-#40.md
  docs/HANDOVERS/feat-observability-wiring-v2.md
  docs/HANDOVERS/feat-openai-agents-runner-#33.md
  docs/HANDOVERS/feat-ruff-config-tightening.md
  docs/HANDOVERS/feat-signals-v2-policy-and-sse.md
  docs/HANDOVERS/feat-team-registry-and-scope-enforcement.md
  docs/HANDOVERS/feat-terminal-function-tools-#34.md
  docs/HANDOVERS/feat-terminal-redaction-env.md
  docs/HANDOVERS/feat-terminal-safety-hardening-#41.md
  docs/HANDOVERS/feat-todo-function-tools-#35.md
  docs/HANDOVERS/feat-worker-idle-backoff.md
  docs/HANDOVERS/feat-worktree-allocator.md
  todo.md
Due: none

Add environment setup instructions for uv and gh
  AGENTS.md
Due: none

Refactor: Add setup script and simplify agent environment setup
  AGENTS.md
  scripts/setup_env.sh
Due: none

feat: Install dev dependencies with uv sync
  AGENTS.md
  scripts/setup_env.sh
Due: none
