Repository conorcraig/magent2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: debug-statements
        types: [python]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Use local hooks to run ruff via uv, ensuring single source of truth from pyproject.toml
  - repo: local
    hooks:
      - id: ruff-format-local
        name: ruff-format (uv)
        language: system
        entry: uv run ruff format
        pass_filenames: true
        types: [python]
      - id: ruff-check-local
        name: ruff-check (uv, with fixes)
        language: system
        entry: uv run ruff check --fix --exit-non-zero-on-fix --show-fixes
        pass_filenames: true
        types: [python]

  - repo: local
    hooks:
      - id: mypy
        name: mypy (staged files only)
        language: system
        entry: uv run python .github/scripts/mypy_staged.py
        pass_filenames: true
        types: [python]

      - id: xenon-complexity
        name: Check Code Complexity (staged)
        entry: bash .github/scripts/ci/complexity_check.sh
        language: system
        pass_filenames: true
        types: [python]
        files: "^(magent2|scripts)/"

      - id: xenon-complexity-tests
        name: Check Test Complexity (staged, relaxed)
        language: system
        entry: bash .github/scripts/ci/complexity_check.sh --profile tests
        pass_filenames: true
        types: [python]
        files: "^tests/"

      # Intentionally no pre-push hook; use just check manually or in CI

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".baseline-secrets"]

fail_fast: false
minimum_pre_commit_version: "3.0.0"
default_stages: [pre-commit]
default_install_hook_types:
  - pre-commit
  - commit-msg

tests: stabilize Redis blocking read test to use last_id cursor
  tests/test_bus_redis.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity-tests

todo-store: warn on invalid/corrupt Redis task JSON in get_task (fixes #120) (#143)
  magent2/tools/todo/redis_store.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

security(mcp): switch to strict env allowlist for stdio servers; do not inherit parent env by default; add safe defaults. Fixes #119 (#142)
  magent2/tools/mcp/gateway.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

chore: pass full quality gate (ruff, mypy, xenon); refactor worker and terminal logging helpers
  magent2/tools/terminal/function_tools.py
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

tests(terminal): add JWT/Bearer and entropy redaction tests; pragma allowlist for placeholders (#139)
  magent2/tools/terminal/function_tools.py
  magent2/tools/terminal/tool.py
  tests/test_terminal_function_tools.py
  tests/test_terminal_safety.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

obs: fix run summary tool_calls/tool_errors to sum metric values; ruff format
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

config: increase stop_grace_period and relax healthcheck timeouts for gateway/worker (#115) (#138)
  docker-compose.yml
Due: none

feat: Expose Redis client via get_client method (#137)
  magent2/bus/redis_adapter.py
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

mcp: reader loop handles OSError alongside FramingError to terminate gracefully
  magent2/tools/mcp/client.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Enhance logging and configuration for gateway and worker services
  docker-compose.yml
  justfile
  magent2/gateway/app.py
  magent2/observability/__init__.py
  magent2/tools/chat/function_tools.py
  magent2/tools/signals/wrappers.py
  magent2/tools/terminal/function_tools.py
  magent2/tools/todo/tools.py
  magent2/worker/__main__.py
  magent2/worker/worker.py
  tests/test_observability.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

Restore full SSE token streaming to UI
  docs/refs/sse.md
  magent2/gateway/app.py
  tests/test_gateway.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

Add Bus blocking reads and opt-in worker auto-done via metadata
  magent2/bus/interface.py
  magent2/bus/redis_adapter.py
  scripts/run_local.py
  tests/test_bus_interface.py
  tests/test_bus_redis.py
  tests/test_chat_function_tool.py
  tests/test_gateway.py
  tests/test_observability_wiring.py
  tests/test_signals.py
  tests/test_worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

Observability improvements (chat/signals/terminal/gateway/worker)
  magent2/observability/__init__.py
  magent2/tools/chat/function_tools.py
  magent2/tools/signals/wrappers.py
  magent2/tools/terminal/function_tools.py
  magent2/tools/todo/tools.py
  magent2/worker/__main__.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Remove temporary files from tracking
  .agent_instructions.txt
Due: none

Fix reader loop: restore broad exception handling
  magent2/tools/mcp/client.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Fix quality issues
  magent2/bus/redis_adapter.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

worker: extract helpers to reduce complexity; remove demo runner
  PR_DESCRIPTION.md
  magent2/runner/demo_runner.py
  magent2/runner/openai_responses_runner.py
  magent2/team/__init__.py
  magent2/team/branch.py
  magent2/team/registry.py
  magent2/tools/orchestrate.py
  magent2/worker/__main__.py
  magent2/worker/worker.py
  tests/test_branch_allocator.py
  tests/test_orchestrate.py
  tests/test_team_registry.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

orchestrate: add optional wait via signal_wait_all; cast for mypy
  magent2/tools/orchestrate.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Refactor bus publishing and observability redaction
  magent2/bus/utils.py
  magent2/gateway/app.py
  magent2/observability/__init__.py
  magent2/runner/openai_agents_runner.py
  magent2/tools/chat/function_tools.py
  magent2/tools/signals/impl.py
  magent2/tools/terminal/function_tools.py
  tests/e2e/conftest.py
  tests/helpers/__init__.py
  tests/helpers/bus.py
  tests/test_bus_interface.py
  tests/test_chat_function_tool.py
  tests/test_gateway.py
  tests/test_observability_wiring.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

orchestrate: finalize runtime import fix; ensure file formatted
  magent2/tools/orchestrate.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Fix SSE truncation bug: reduce complexity and safe payload handling
  magent2/gateway/app.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Issue #70: Single-agent orchestration via tools (signals, registry, branches) (#110)
  .gitignore
  .tmp_pr.json
  PR_DESCRIPTION.md
  magent2/runner/openai_responses_runner.py
  magent2/team/__init__.py
  magent2/team/branch.py
  magent2/team/registry.py
  magent2/tools/chat/function_tools.py
  magent2/tools/orchestrate.py
  magent2/worker/__main__.py
  magent2/worker/worker.py
  tests/test_branch_allocator.py
  tests/test_orchestrate.py
  tests/test_team_registry.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

Read agents.md and pick up issue 113 (#136)
  magent2/gateway/app.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Read agents.md and pick up issue 111 (#134)
  magent2/bus/redis_adapter.py
  magent2/gateway/app.py
  magent2/tools/chat/function_tools.py
  magent2/tools/mcp/client.py
  magent2/tools/signals/wrappers.py
  magent2/tools/todo/redis_store.py
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

x
  magent2/tools/signals/impl.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Read agents.md and pick up issue 117 (#132)
  magent2/bus/redis_adapter.py
  magent2/tools/signals/impl.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Refactor: Improve gh and uv setup logic
  scripts/setup_env.sh
Due: none

Refactor: Improve tool result and output mapping logic
  magent2/runner/openai_agents_runner.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Refactor: Update imports and formatting
  magent2/bus/utils.py
  magent2/gateway/app.py
  magent2/runner/openai_agents_runner.py
  magent2/tools/signals/impl.py
  tests/helpers/bus.py
  tests/test_bus_interface.py
  tests/test_chat_function_tool.py
  tests/test_gateway.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests
