Repository conorcraig/magent2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ["--maxkb=1000"]
      - id: check-merge-conflict
      - id: debug-statements
        types: [python]
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Use local hooks to run ruff via uv, ensuring single source of truth from pyproject.toml
  - repo: local
    hooks:
      - id: ruff-format-local
        name: ruff-format (uv)
        language: system
        entry: uv run ruff format
        pass_filenames: true
        types: [python]
      - id: ruff-check-local
        name: ruff-check (uv, with fixes)
        language: system
        entry: uv run ruff check --fix --exit-non-zero-on-fix --show-fixes
        pass_filenames: true
        types: [python]

  - repo: local
    hooks:
      - id: mypy
        name: mypy (staged files only)
        language: system
        entry: uv run python .github/scripts/mypy_staged.py
        pass_filenames: true
        types: [python]

      - id: xenon-complexity
        name: Check Code Complexity (staged)
        entry: bash .github/scripts/ci/complexity_check.sh
        language: system
        pass_filenames: true
        types: [python]
        files: "^(magent2|scripts)/"

      - id: xenon-complexity-tests
        name: Check Test Complexity (staged, relaxed)
        language: system
        entry: bash .github/scripts/ci/complexity_check.sh --profile tests
        pass_filenames: true
        types: [python]
        files: "^tests/"

      # Intentionally no pre-push hook; use just check manually or in CI

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".baseline-secrets"]

fail_fast: false
minimum_pre_commit_version: "3.0.0"
default_stages: [pre-commit]
default_install_hook_types:
  - pre-commit
  - commit-msg

feat: Publish user_message event to stream topic
  magent2/gateway/app.py
  tests/test_gateway.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

style(test): sort imports per ruff (I001)
  tests/test_worker_redis_groups.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity-tests

Add retry logic and in-memory fallbacks for robustness
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

gateway: emit user_message on /send; sort imports; e2e: expect user_message first (#58)
  magent2/gateway/app.py
  tests/e2e/test_docker_e2e.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

feat: Add team registry and worktree allocation
  magent2/team/__init__.py
  magent2/team/registry.py
  magent2/team/worktree.py
  tests/test_team_registry.py
  tests/test_worktree_allocator.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

Remove unused worktree functionality
  magent2/team/registry.py
  magent2/team/worktree.py
  tests/test_worktree_allocator.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

feat: Add DemoRunner and Git branch allocation
  .agent_instructions.txt
  magent2/runner/demo_runner.py
  magent2/team/branch.py
  magent2/worker/__main__.py
  tests/test_branch_allocator.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

Check and implement issue 58 (#108)
  magent2/gateway/app.py
  tests/e2e/test_docker_e2e.py
  tests/test_gateway.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

Add retry logic and in-memory fallbacks for robustness (#109)
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Add demo conversation log for 10 turns
  docs/demo_logs/conv-demo-10turn.jsonl
Due: none

test(worker): ensure JSON-safe envelope serialization in redis group restart test
  tests/test_worker_redis_groups.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity-tests

test(worker): use blocking reads for consumer group test to avoid race; JSON-safe payload
  tests/test_worker_redis_groups.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity-tests

Checkpoint before follow-up message
  magent2/runner/demo_runner.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

test(worker): isolate agent name per run to avoid cross-run state in Redis
  tests/test_worker_redis_groups.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity-tests

Add demo conversation log
  docs/demo_logs/conv-openai-10turn.txt
Due: none

Feat: Add initial Uvicorn server logs
  openai_runner.log
Due: none

feat: Add OpenAIResponsesRunner for direct API calls
  magent2/runner/openai_responses_runner.py
  magent2/worker/__main__.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Investigate and implement issue 68 (#107)
  .gitignore
  tests/test_worker_redis_groups.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity-tests

feat: Add orchestrate_split tool and metadata to send_message
  magent2/tools/chat/function_tools.py
  magent2/tools/orchestrate.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Refactor: Add auto child signal done behavior
  docs/demo_logs/conv-demo-10turn.jsonl
  docs/demo_logs/conv-openai-10turn.txt
  magent2/tools/orchestrate.py
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

feat: Implement orchestrated multi-agent teams via tools
  PR_DESCRIPTION.md
Due: none

feat(orchestrate): structured metadata, parameterized target, configurable timeout
  magent2/tools/orchestrate.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Refactor done_topic signal handling to prefer metadata
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Refactor worker to simplify done_topic detection
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

config: increase stop_grace_period and relax healthcheck timeouts for gateway/worker (#115)
  docker-compose.yml
Due: none

security(mcp): switch to strict env allowlist for stdio servers; do not inherit parent env by default; add safe defaults. Fixes #119
  magent2/tools/mcp/gateway.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

todo-store: warn on invalid/corrupt Redis task JSON in get_task (fixes #120)
  magent2/tools/todo/redis_store.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

docs(gateway): clarify SSE token suppression semantics; add endpoint docstring and refs
  docs/refs/sse.md
  magent2/gateway/app.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

gateway: add configurable SSE event payload cap with truncation summary; tests for cap
  magent2/gateway/app.py
  tests/test_gateway.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

bus: add read_blocking to Bus Protocol; implement Redis XREAD/XREADGROUP; add in-memory/test implementations; tests for blocking reads; pass quality gate
  magent2/bus/interface.py
  magent2/bus/redis_adapter.py
  scripts/run_local.py
  tests/test_bus_interface.py
  tests/test_bus_redis.py
  tests/test_chat_function_tool.py
  tests/test_gateway.py
  tests/test_observability_wiring.py
  tests/test_signals.py
  tests/test_worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

feat: Add blocking reads to RedisBus and signals
  magent2/bus/redis_adapter.py
  magent2/tools/signals/impl.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

gateway: SSE streaming uses blocking bus reads when available; add env-capped payload truncation (GATEWAY_SSE_MAX_BYTES). Closes #113
  magent2/gateway/app.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

refactor: narrow broad exception catches; add metrics/logging in gateway, RedisBus, Worker, MCP client, tools
  magent2/bus/redis_adapter.py
  magent2/gateway/app.py
  magent2/tools/chat/function_tools.py
  magent2/tools/mcp/client.py
  magent2/tools/signals/wrappers.py
  magent2/tools/todo/redis_store.py
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

tests(terminal): add JWT/Bearer and entropy redaction tests; pragma allowlist for placeholders
  magent2/tools/terminal/function_tools.py
  magent2/tools/terminal/tool.py
  tests/test_terminal_function_tools.py
  tests/test_terminal_safety.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

feat: Implement orchestrated multi-agent teams via tools
  .gitignore
  .tmp_pr.json
  magent2/worker/worker.py
  openai_runner.log
  tests/test_branch_allocator.py
  tests/test_orchestrate.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity, xenon-complexity-tests

feat: Expose Redis client via get_client method
  magent2/bus/redis_adapter.py
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

obs: improve tool/run logging; add conv/run correlation, terminal policy context, tool_success events, run_id labels; runner tools kv; console kv summary
  magent2/observability/__init__.py
  magent2/tools/chat/function_tools.py
  magent2/tools/signals/wrappers.py
  magent2/tools/terminal/function_tools.py
  magent2/tools/todo/tools.py
  magent2/worker/__main__.py
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

Refactor: Improve metric snapshotting in worker
  magent2/tools/terminal/function_tools.py
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

chore: fix mypy unused-ignore and keep lints green
  magent2/tools/terminal/function_tools.py
  magent2/worker/worker.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity

style(gateway): ruff format app.py to satisfy CI
  magent2/gateway/app.py
Due: ruff-format-local, ruff-check-local, mypy, xenon-complexity
